* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Blinker', sans-serif;
}

h2 {
  color: #FFFFFF;
  margin-bottom: 0;
  font-weight: 400;
}

h4 {
  color: #F3BF99;
  margin-top: 0.5em;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.container-info, .container-about, .container-interests {
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1A1B21;
  width: 40%;
}

.container-about, .container-interests {
  padding: 0 1em;
}

.container-info h2 {
  margin-top: 1em;
}

img {
  width: 100%
}

.buttons {
  display: flex;
  
}

button {
  font-size: 0.9rem;
  margin-left: 1em;
  padding: .5rem 2rem;
  border-radius: 5px;
  background: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: row;
  
}

.linkedin-btn {
  color: #FFFFFF;
  background: #5093E2;
}

.span-image {
  background-image: url("./images/email.png");
  width: 16px;
  height: 16px;
 
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5rem;
}

.span-image-two {
  background-image: url("./images/linkedin.png");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5rem;
}


.container-about h2, .container-interests h2 {
  color: #FFFFFF;
  margin-right: auto;
  padding-left: 1em;
}


.container-about p, .container-interests p {
  color: #DCDCDC;
  padding-left: 1.5em;
  margin-right: auto;
  max-width: 90%;
  text-align: start;
  margin-bottom: 0;
}

.icons {
  width: 50px;
  height: 50px;
  margin: 0 1em;
}

.container-interests {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.interests-box {
  width: 100%;
  margin-bottom: 0.8em;
}

.images {
  all: initial;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #161619;
  justify-content: center;
  padding: 1em;
}